[submodule "themes/github-style"]
	path = themes/github-style
	url = https://github.com/MeiK2333/github-style.git
[submodule "themes/archie"]
	path = themes/archie
	url = https://github.com/athul/archie.git
[submodule "themes/smol"]
	path = themes/smol
	url = https://github.com/colorchestra/smol
